@import "styles/utils/variables";
@import "styles/utils/functions";
@import "styles/utils/colors";

.btn {
    letter-spacing: 0.02em;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    padding: 7px 18px;
    font-size: .8125rem;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    line-height: 1.25rem;
    cursor: pointer;

    .icon + .text, .text + .icon {
        padding-left: 8px;
    }

    &:disabled {
        opacity: .65;
        cursor: default;
    }

    &.btnSm {
        padding: .25rem .75rem;
        font-size: .75rem;
        line-height: 1.25rem;
        border-radius: 3px;
    }
}

.btnRound {
    border-radius: 2.125rem;
}

.btnPrimary {
    background: $primary-color;
    border: 1px solid $primary-color;

    * {
        color: #fff;
    }

    &:hover, &:active, &:focus {
        background: darker($primary-color, 2);
        border-color: darker($primary-color, 2);
    }

    &:focus {
        box-shadow: 0 0 0 .2rem rgba(151,105,255,0.5);
    }
}

.btnOutlineLight {
    color: $base-color !important;
    border: 1px solid $grey300;
    background: transparent;

    &:hover, &:active, {
        background: $light;
        border-color: $light;
        color: $grey900 !important;
        text-decoration: none !important;
    }
}
