@import "../../utils/variables";
@import "shadow.module";

.toggleSlide {
    transition: $toggleSlideTransition;
    width: calc(100vw - 290px);
    height: calc(100vh - 35px); //64px
    position: fixed;
    top: 35px; //64px
    left: 290px;
    z-index: -1;

    &.toggleActive {
        z-index: 900 !important;
        background: rgba(0, 0, 0, .2);

        .slideWrapper {
            transform: translate(0) !important;
        }
    }

    .slideWrapper {
        transform: translateX(100%);
        right: 0;
        position: fixed;
        width: 400px;
        height: 100%;
        max-height: 100%;
        padding: 1.5rem;
        background: #fff;
        transition: $toggleSlideTransition;
        border-top: 1px solid $light;
        overflow-y: auto;
    }
}
