@import "buttons.module";
@import "grid.module";
@import "forms.module";

.formContent {

    .blockHead {
        padding-bottom: 1.5rem;

        .blockHeadTitle {
            margin-bottom: .7rem;
            font-weight: 600;
            color: $grey600;
        }

        .blockHeadSubtitle {
            font-size: .875rem;
        }
    }
}
