$dark-brown: #3A1C13;
$brown: #C0A891;
$light-brown: #F4EFE1;
$orange: #E87330;

$red: #f44336;
$grey: #9e9e9e;

$grey100: #EBEEF2;
$grey300: #DBDFEA;
$grey500: #8091A7;
$grey600: #3c4d62;
$grey900: #1F2B3A;

$transition: all .3s ease;
$toggleSlideTransition: all 600ms ease;
$spacer: 1rem;

$base-color: #526484;
$primary-color: #854FFF;
$secondary-color: #364A63;
$dark-color: #1C2B46;
$soft-color: #8094AE;
$danger-color: #E85347;
$warning-color: #f4bd0e;
$success-color: #1ee0ac;
$info-color: #09c2de;

$purple: #816BFF;
$pink: #FF63A5;

$pale_primary-color: #EFE8FF;
$pale_warning-color: rgba(244,189,14,0.15);
$pale_success-color: #e2fbf4;
$pale_info-color: #dff7fb;
$pale_danger-color: #fceceb;

$pale-pink: #ffebf3;

$dark-purple: #3a2272;

$light: #E5E9F2;
$lighter: #F5F6FA;

$scrollbar-color: #AAB5C3;

