@import "variables";

.red {
    color: $red !important;
}

.textDark {
    color: $dark-color !important;
}

.textPrimary {
    color: $primary-color !important;
}

.textSecondary {
    color: $secondary-color !important;
}

.textSoft {
    color: $soft-color !important;
}

.textBase {
    color: $base-color;
}

.bgPrimary {
    color: #fff;
    background: $primary-color;
}

.bgPurple {
    color: #fff;
    background: $purple;
}

.bgWhite {
    background: #fff !important;
}
