@import "variables";

// MARGINS
.m0 {
    margin: 0 !important;
}

.mt3 {
    margin-top: $spacer;
}

.mt4 {
    margin-top: $spacer * 1.5;
}

.mt5 {
    margin-top: $spacer * 3;
}

.mb3 {
    margin-bottom: $spacer;
}

.mb4 {
    margin-bottom: $spacer * 1.5;
}

.mb5 {
    margin-bottom: $spacer * 3;
}

.ml1 {
    margin-left: $spacer * .25;
}

.ml2 {
    margin-left: $spacer * .5;
}

// PADDINGS
.pt3 {
    padding-top: $spacer;
}
